* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    color: #333;
    background: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg) center center/cover;
    height: 100vh;
}