@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar .Logo {
        width: 50%;
    }
    .navbar .navbar-links {
        flex-direction: column;
        font-size: 1.6em;
        gap: 15px;
    }
    .navbar .navbar-links li {
        width: 50%;
    }
}