    body {
        background-color: yellow;
        width: 100%;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
    }
    
    .navbar .ListItems {
        display: flex;
        list-style: none;
    }
    
    .navbar .ListItems a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .navbar .ListItems li {
        padding: 20px 30px;
        position: relative;
    }
    
    .ListItems li::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        background-color: black;
        transform: scale(0);
        transition: 0.8s;
        transform-origin: left;
    }
    
    .ListItems li::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        background-color: black;
        transform: scale(0);
        transition: 0.8s;
        transform-origin: right;
    }
    
    .ListItems li:hover::before,
    .ListItems li:hover::after {
        transform: scale(1);
    }
